<!-- <canvas *ngIf="chartData; else loadingChart" #chartCanvas1 width="200" height="200"></canvas>
<ng-template #loadingChart>
  <p>Loading Chart...</p>
</ng-template>

<canvas *ngIf="chartData2; else loadingChart2" #chartCanvas2 width="200" height="200"></canvas>
<ng-template #loadingChart2>
    <p>Loading Chart...</p>
  </ng-template> -->


  <div>
      <canvas style="display: flex;" #chartCanvas width="220" height="220"></canvas>
    </div>
    <!-- <div>
        <canvas #chartCanvas2 width="220" height="220"></canvas>
    </div> -->
  

  
  




